.user_item {
  color: green;
  text-decoration: underline;
  cursor: pointer;
}

body {
  padding: 100px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.form,
#target {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

#target {
  flex-wrap: wrap;
}

.form {
  padding: 20px;
  align-items: center;
  justify-content: center;
  border: 3px solid #fff;
  box-shadow: rgb(240 46 170 / 40%) 5px 5px, rgb(240 46 170 / 30%) 10px 10px,
    rgb(240 46 170 / 20%) 15px 15px, rgb(240 46 170 / 10%) 20px 20px,
    rgb(240 46 170 / 5%) 25px 25px;
  margin-bottom: 50px;
}

.form > div {
  display: flex;
  align-items: center;
  font-size: 30px;
}

.form > div label {
  margin-right: 10px;
}

input,
select {
  width: 250px;
  height: 50px;
  border-radius: 30px;
  outline: none;
  border: none;
  border: 2px solid #000;
  -moz-appearance: textfield;
}

#addAction {
  border: 1px solid #fff;
  position: relative;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
